*{
    margin:0;
    padding: 0;
}
.container{
    width:100%;
    text-align: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}
body{
    background-color: black;
}
.nav-menu{
    background-color: aliceblue;
    height:100px;
    width:100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

    /* margin:auto; */
}
.logo{
    height:70px;
    /* padding:20px 0px 30px 15px; */
}
.nav-link{
    color:chocolate;
    text-decoration: none;
    font-size: 25px;
    padding:15px;
    

    
}
.submenu{
    height: 100px;
    width:150px;
    border:1px solid black;
    background-color: aquamarine;
    position:absolute;
    top: 75px;
    right: 76px;
   display: none;
    
}
.submenu2{
    height: 100px;
    width:150px;
    border:1px solid black;
    background-color: aquamarine;
    position:absolute;
    top: 23px;
    left: 150px;
   display: none;
    
}
.d-block{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
.d-none{
    display: none;
}
div.menu div:nth-child(3):hover .submenu{
    display: block;
    color:red
}
.ab1:hover .submenu2{
    display: block;
}

.fa-bars{
    font-size: 25px;
    left:0;
}
.toggle{
    height: 20px;
    width:40px;
    padding-top: 39px;
    display: none;
    justify-items: left;
    /* text-align: left; */
}